<%= form_for(@round) do |f| %>
  <% if @round.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@round.errors.count, "error") %> prohibited this round from being saved:</h2>

      <ul>
      <% @round.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :player %><br>
    <%= f.text_field :player, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :numholes %><br>
    <%= f.number_field :numholes, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :score %><br>
    <%= f.number_field :score, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
